@use "../core/variables" as vars;

.card-main {
    background-color: vars.$grey;
    display: flex;
    flex-direction: column; 
    width: 90vw;
    border-radius: 10px;
    font-family: vars.$font-main;
    margin: 10px auto;
    
}