@use "../core/variables" as vars;
@use "../core/mixins" as mixins;

.card-main {
    background-color: vars.$grey;
    display: flex;
    flex-direction: column; 
    width: 90vw;
    border-radius: 10px;
    font-family: vars.$font-main;
    margin: 10px auto;
}

.back-btn {
    display: flex;
    justify-content: center;
     align-items: center;
    margin-top: 100px;
}

.backLink {
    @include mixins.link-style(1.5rem); 
}