@use "../core/variables" as vars;


form.form-main {
    background-color: vars.$light-grey;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 90vw;
    border-radius: 10px;
    padding: 20px;
    font-family: vars.$font-main;
    margin: 10px auto;
    
}

/* .collapsed {
    display: none;
} */

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.title {
    color: vars.$main_blue;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
} 

.design {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px vars.$grey, -5px -5px 10px vars.$white;
    padding: 10px 10px;

    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
       
        &__color-section {
        display: flex;
        justify-content: space-between;
        }

        &__text {
        font-size: 15px;
        color: vars.$main_blue;
    }
        &__inputs {
        display: flex;
        align-items: center;
        gap: 40px;
    }
        &__grey-color {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: vars.$grey;
        cursor: pointer;
        box-shadow: 3px 3px 6px vars.$grey, -3px -3px 6px vars.$white;
    }
            &__grey-color:hover {
            transform: scale(1.2);     
            }
        &__orange-color {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: vars.$orange;
            cursor: pointer;
            box-shadow: 3px 3px 6px vars.$grey, -3px -3px 6px vars.$white;
        }
            &__orange-color:hover {
            transform: scale(1.2);
            }

        &__green-color {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: vars.$green;
            cursor: pointer;
            box-shadow: 3px 3px 6px vars.$grey, -3px -3px 6px vars.$white;
        }
            &__green-color:hover {
            transform: scale(1.2);            
            }

        &__photo-section {
            display: flex;
            justify-content: space-between;
        }

        &__photo {
            width: 58px;
            height: 58px;
            border-radius: 10px;
            font-size: 12px;
            color: #6d7582;
            box-shadow: 3px 3px 6px vars.$grey, -3px -3px 6px vars.$white;
        }

        &__photo-button {
            background-color: #e0e5ec;
            border-radius: 20px;
            box-shadow: 3px 3px 6px vars.$grey, -3px -3px 6px vars.$white;
            padding: 0px 10px;
            font-size: 12px;
            color: #6d7582;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
        }    
            &__photo-button:active {
                box-shadow: inset 3px 3px 6px vars.$grey, inset -3px -3px 6px vars.$white;
            }

}
    
//tablet version
    @media (min-width: 768px) {
    .title {
    color: vars.$main_blue;
    height: 40px;
    font-size: 30px;
    display: flex;
    align-items: center;
    }  

    .design {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px vars.$grey, -10px -10px 20px vars.$white;
    padding: 10px 10px;

        &__color-section {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        }

        &__text {
        font-size: 22px;
        }

        &__inputs {
        display: flex;
        align-items: center;
        gap: 80px;
        }

        &__grey-color {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: vars.$grey;
        cursor: pointer;
        box-shadow: 3px 3px 6px vars.$grey, -3px -3px 6px vars.$white;
        }
            &__grey-color:hover {
            transform: scale(1.2);     
            }
        &__orange-color {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: vars.$orange;
            cursor: pointer;
            box-shadow: 3px 3px 6px vars.$grey, -3px -3px 6px vars.$white;
        }
            &__orange-color:hover {
            transform: scale(1.2);
            }

        &__green-color {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: vars.$green;
            cursor: pointer;
            box-shadow: 3px 3px 6px vars.$grey, -3px -3px 6px vars.$white;
        }
            &__green-color:hover {
            transform: scale(1.2);            
            }

        &__photo-section {
            display: flex;
            justify-content: space-between;
            padding-right: 30px;
        }

        &__photo-button {
            background-color: #e0e5ec;
            border-radius: 20px;
            box-shadow: 3px 3px 6px vars.$grey, -3px -3px 6px vars.$white;
            padding: 0px 10px;
            font-size: 18px;
            color: #6d7582;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
        }    
            &__photo-button:active {
                box-shadow: inset 3px 3px 6px vars.$grey, inset -3px -3px 6px vars.$white;
            }
    }
}

    @media (min-width: 1024px) {
        
    }


.design-pressed-color {
box-shadow: inset 3px 3px 5px #a3b1c6, inset -3px -3px 5px #ffffff;
transform: scale(1.2); 
}



//FILL FORM

.fill {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #ffffff;
    padding: 10px 10px;
    margin-top: 20px;

    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__legend {
        font-family: vars.$font-title;
        font-size: 12px;
        color: vars.$main_blue;
        margin-top: 20px;
        background-color: vars.$light-grey;
        display: flex;
        align-items: center;
        gap: 1rem; 

        &::after {
            content: '';
            flex-grow: 1;
            height: 1px;
            background-color: vars.$main_blue;
        }
    }

    &__input {
        padding: 8px;
        font-size: 15px;
        color: vars.$main_blue;
        border: none;
        outline: none;
        margin-bottom: 5px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px vars.$grey, -2px -2px 4px vars.$light-grey;
        background-color: vars.$white;
    }

    &__textarea {
         padding: 8px;
        font-size: 15px;
        border: none;
        outline: none;
        margin-bottom: 5px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px vars.$grey, -2px -2px 4px vars.$light-grey;
        background-color: vars.$white;
        color: vars.$main_blue;
        
    }

    .fill__input::placeholder,
    .fill__textarea::placeholder {
    color: vars.$grey; // O el color que prefieras
    opacity: 1; // Para asegurar que el color se vea claramente
    }

    //tablet version
    @media (min-width: 768px) {

    }
   
}

