@use "../core/variables" as vars;
@use "../core/mixins" as mixins;

.form {

    display: flex;
    flex-direction: column;
    width: 100%;
  

    &__form-main {
    background-color: vars.$light-grey;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 90vw;
    border-radius: 10px;
    padding: 20px;
    font-family: vars.$font-main;
    margin: 10px auto;
    }

    &__card-main {
    background-color: vars.$grey;
    display: flex;
    flex-direction: column; 
    width: 90vw;
    border-radius: 10px;
    font-family: vars.$font-main;
    margin: 10px auto;

    }

}

//COMPUTER VERSION
@media (min-width: 1024px) {
    .form {
    flex-direction: row;
    align-items: flex-start;

        &__form-main {
        width: 50vw;
        }

        &__card-main {
        width: 45vw;
        }
    }
}


/* .collapsed {
    display: none;
}   */


