
@use "../core/variables" as vars;
@use "../core/mixins" as mixins;

.hidden {
    display: none;
}

.fa-whatsapp, .fa-twitter, .fa-instagram, .fa-linkedin-in {
    font-size: 30px;
    font-weight: bold;  
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
}

.nav {
    position: relative;
    width: 300px;
    height: 70px;    
    background-color: vars.$light-grey; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 6px vars.$grey, -3px -3px 6px vars.$white;
    cursor: pointer;
    transition: all 0.3s ease;

    &__list {
        display: flex;
        width: 320px;
        padding: 0;
    }

    &__item {
        position: relative;
        width: 70px;
        height: 70px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            background-color: vars.$light-grey;
            border-radius: 50%;
            border: 6px solid vars.$light-grey;
            box-shadow: inset 3px 3px 6px vars.$grey, inset -3px -3px 6px vars.$white;
            box-sizing: border-box;
            transform: translate(-50%, -50%) translateY(0);
            transition: transform 0.3s ease, opacity 0.3s ease;
            opacity: 0;
            z-index: -1;
        }

        &:hover::before {
            opacity: 1;
            transform: translate(-50%, -50%) translateY(-35px);
        }

        .nav__icon {
            color: vars.$main_blue;
            font-size: 25px;
            transition: transform 0.3s ease;
        }

        &:hover .nav__icon {
            transform: translateY(-35px);
        }
    }

    &__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        color: vars.$main_blue;
    }

    &__indicator {
        display: none;
    }
}

.share {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px vars.$grey, -5px -5px 10px vars.$white;
    padding: 10px 10px;
    margin-top: 20px;

    &__fieldset {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        padding-top: 20px;
        font-size: 15px;
        color: vars.$main_blue;
        position: relative;
        border: solid 2px transparent;
    }

        &__fieldset::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 100%;
        left: 0;
        width: 100%;
        margin-bottom: -2px;
        background-color: transparent;
        background-image: linear-gradient(
            to left,
            transparent,
            vars.$grey 25%,
            vars.$main_blue 50% ,
            transparent
            );
        }


    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        font-family: vars.$font-title;
        font-size: 20px;
        color: vars.$main_blue;
    }

    &__link {
        color: vars.$orange;
    }
}

//tablet version
@media (min-width: 768px) {
    .fa-whatsapp, .fa-twitter, .fa-instagram, .fa-linkedin-in {
        font-size: 35px;
        font-weight: bold;  
    }

    .nav {
        width: 500px;

        &__list {
            gap: 70px;
        }

        &__item {
            &::before {
                width: 80px;
                height: 80px;
            }
        }
    }

    .share {
        &__text, &__link {
            font-size: 30px;
        }
        
    }
}

//computer version
@media (min-width: 1024px) {
    .nav {
        width: 400px;

        &__list {
            gap: 50px;
        }

        &__item {
            &::before {
                width: 80px;
                height: 80px;
            }
        }
    }
}

