@use "../core/variables" as vars;

.preview{

    margin: 20px 0;

    &__profile {
        display: flex;
        align-items: center;
        color: vars.$main_blue;

    }
    &__photo {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }

    &__personal-data {
        background-color: vars.$white;
        color: vars.$dark-grey;
        margin: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        box-shadow: vars.$card-boxshadow;
    }

    &__cv-data {
       display: flex;
       align-items: center;
       gap: 10px;
       margin: 10px;

       &__full {
        width: 100%;
        background-color: vars.$white;
        color: vars.$dark-grey;
        border-radius: 20px;
        display: flex;
        padding: 10px;
        field-sizing: content;
        box-shadow: vars.$card-boxshadow;
       }

        &__half {
        width: 50%;
        background-color: vars.$white;
        color: vars.$dark-grey;
        border-radius: 20px;
        display: flex;
        padding: 10px;
        field-sizing: content;
        box-shadow: vars.$card-boxshadow;
        }

    }
}

.fa-brands {
    font-size: 40px;
    color: vars.$main_blue;
}