<section class="fill">
    <div class="title js_fill_title js_collapsable_header">
        <p>Rellena</p>
        <span>
            <i class="fa-solid fa-circle-plus" ></i>
        </span>
    </div>
    <div class="collapsed js_fill_collapsable">
        <fieldset class="fill__fieldset js-formFill">
            <legend class="fill__legend">Datos Personales</legend>
                <label for="name"></label>
                <input class="fill__input js_profileName" id="name" type="text" name="personal-data" placeholder="Nombre y Apellidos">
                <label for="city"></label>
                <input class="fill__input js_city" id="city" type="text" name="personal-data" placeholder="Ciudad">
                <!-- <label for="languages"></label>
                <input class="fill__input js_languages" id="languages" type="text" name="personal-data" placeholder="Idiomas"> -->
                <label for="email"></label>
                <input class="fill__input js_email" id="email" type="email" name="personal-data" placeholder="Email">
            <legend class="fill__legend">Sobre mi</legend>
          <!--       <label for="about-me"></label>
                <textarea class="fill__textarea js_aboutMe" id="about-me" name="about-me" maxlength="500" placeholder="Sobre mí" rows="5" cols="33"></textarea> -->
                <label for="training"></label>
                <input class="fill__input js_training" id="training" type="text" name="about-me" placeholder="Formación">
                <label for="soft-skills"></label>
                <textarea class="fill__textarea js_skills" id="soft-skills" type="text" name="about-me" placeholder="Soft Skills"></textarea>
                <label for="technologies"></label>
                <input class="fill__input js_technologies" id="technologies" type="text" name="about-me" placeholder="Stack Tecnológico">    
                <label for="linkedin"></label>
                <input class="fill__input js_linkedin" id="linkedin" type="text" name="about-me" placeholder="LinkedIn">   
            <legend class="fill__legend">Situación actual y Motivación al puesto</legend>
                <label for="motivation"></label>
                <textarea class="fill__textarea js_motivation" id="motivation" name="motivation" maxlength="500" placeholder="Situación actual y Motivación al puesto" rows="5" cols="33"></textarea>
        </fieldset>
    </div>
</section>