
<section class="design">
    <div class="title">
        <p>Diseña</p>
        <span>
            <i class="fa-solid fa-circle-plus"></i>
        </span>
    </div>
    <div class="collapsed">
        <fieldset class="design__fieldset"> 
            <div class="design__color-section">
                <p class="design__text">Elige un color</p> 
                <div class="design__inputs">
                    <label class="design__grey-color" for="grey"></label>
                    <input class="js-grey-input" id="grey" type="radio" value="grey" name="bg-color">
                    <label class="design__orange-color" for="orange"></label>
                    <input class="js-orange-input" id="orange" type="radio" value="orange" name="bg-color">
                    <label class="design__green-color" for="green"></label>
                    <input class="js-green-input" id="green" type="radio" value="green" name="bg-color">
                </div>
            </div> 
            <div class="design__photo-section">
                <p class="design__text">Sube una foto</p>
                <div class="">
                    <img class="design__photo" src="/user.png" alt="profile-photo">
                    <button class="design__photo-button">Subir</button>
                </div>
            </div>
        </fieldset>
    </div>
</section>


