
<section class="design">
    <div class="title js_design_title">
        <p>Diseña</p>
        <span>
            <i class="fa-solid fa-circle-plus"></i>
        </span>
    </div>
    <div class="collapsed js_design_collapsable">
        <fieldset class="design__fieldset"> 
            <div class="design__color-section">
                <p class="design__text">Elige un color</p> 
                <div class="design__inputs">
                    <input type="radio" id="grey" name="bg-color" value="grey" class="design__input design__input--grey" />
                    <label for="grey" class="design__color design__color--grey"></label>

                    <input type="radio" id="orange" name="bg-color" value="orange" class="design__input design__input--orange" />
                    <label for="orange" class="design__color design__color--orange"></label>

                    <input type="radio" id="green" name="bg-color" value="green" class="design__input design__input--green" />
                    <label for="green" class="design__color design__color--green"></label>
                </div>
            </div> 
            <div class="design__photo-section">
                <p class="design__text">Sube una foto</p>
                <div class="">
                    <img class="design__photo" src="/user.png" alt="profile-photo">
                    <button class="design__photo-button">Subir</button>
                </div>
            </div>
        </fieldset>
    </div>
</section>


