<section class="share">
     <div class="title">
        <p>Comparte</p>
        <span>
            <i class="fa-solid fa-circle-plus"></i>
        </span>
    </div>
    <div class="collapsed">
        <fieldset class="share__fieldset">
            <button class="share__button">Crear Tarjeta
            </button>
            <div class="share__section collapsed">
                <p class="share__text">¡Tu tarjeta se ha creada!</p>
                <a class="share__link">Ver tarjeta</a>
                <button class="share__whatsappBtn"><i class="fa-brands fa-whatsapp"></i> Compartir en WhatsApp</button>
                <button class="share__twitterBtn"><i class="fa-brands fa-twitter"></i>Compartir en Twitter</button>
            </div>
            
        </fieldset>
    </div>
</section>