<section class="fill">
    <div class="title">
        <p>Rellena</p>
    </div>
    <div class="collapsed">
        <fieldset class="fill__fieldset">
            <legend class="fill__legend">Datos Personales</legend>
                <label for="name"></label>
                <input class="fill__input" id="name" type="text" name="personal-data" placeholder="Nombre y Apellidos">
                <label for="city"></label>
                <input class="fill__input" id="city" type="text" name="personal-data" placeholder="Ciudad">
                <label for="languages"></label>
                <input class="fill__input" id="languages" type="text" name="personal-data" placeholder="Idiomas">
                <label for="email"></label>
                <input class="fill__input" id="email" type="email" name="personal-data" placeholder="Email">
            <legend class="fill__legend">Sobre mi</legend>
                <label for="about-me"></label>
                <textarea class="fill__textarea" id="about-me" name="about-me" maxlength="500" placeholder="Sobre mí" rows="5" cols="33"></textarea>
                <label for="training"></label>
                <input class="fill__input" id="training" type="text" name="about-me" placeholder="Formación">
                <label for="soft-skills"></label>
                <input class="fill__input" id="soft-skills" type="text" name="about-me" placeholder="Soft Skills">
                <label for="technologies"></label>
                <input class="fill__input" id="technologies" type="text" name="about-me" placeholder="Stack Tecnológico">    
                <label for="linkedin"></label>
                <input class="fill__input" id="linkedin" type="text" name="about-me" placeholder="LinkedIn">   
            <legend class="fill__legend">Situación actual y Motivación al puesto</legend>
                <label for="about-me"></label>
                <textarea class="fill__textarea" id="about-me" name="about-me" maxlength="500" placeholder="Situación actual y Motivación al puesto" rows="5" cols="33"></textarea>
        </fieldset>
    </div>
</section>