<section class="share">
     <div class="title js_share_title js_collapsable_header">
        <p>Comparte</p>
        <span>
            <i class="fa-solid fa-circle-plus"></i>
        </span>
    </div>
    <div class="collapsed js_share_collapsable">
        <fieldset class="share__fieldset">
            <button class="share__button">Crear Tarjeta
            </button>
            <div class="share__section collapsed">
                <p class="share__text">¡Tu tarjeta se ha creado!</p>
                <a class="share__link">Ver tarjeta</a>
                <load src="./share_nav.html"/>
            </div>
            
        </fieldset>
    </div>
</section>