
<section class="form-design-container">
    <div class="design-title">
        <h2>Diseña</h2>
    </div>
    <div class="collapsed">
        <fieldset class="design-opt"> 
            <div class="color-opt">
                <p class="elige">Elige un color</p>     
                <div class="inputs">
                    <label class="opt-light-blue" for="light-blue"></label>
                    <input class="" id="light-blue" type="radio" value="light-blue" name="bg-color">
                    <label class="opt-orange" for="orange"></label>
                    <input class="" id="orange" type="radio" value="orange" name="bg-color">
                    <label class="opt-green" for="green"></label>
                    <input class="" id="green" type="radio" value="green" name="bg-color">
                </div>
            </div> 
            <div class="photo">
                <p>Sube una foto</p>
            </div>
        </fieldset>
    </div>
</section>


