<section class="share">
     <div class="title">
        <p>Comparte</p>
        <span>
            <i class="fa-solid fa-circle-plus"></i>
        </span>
    </div>
    <div class="collapsed">
        <fieldset class="share__fieldset">
            <button class="share__button">Crear Tarjeta</button>
            <div class="share__section collapsed">
                <p class="share__text">¡Tu tarjeta se ha creada!</p>
                <a class="share__link">Link</a>
                <a class="" href="">
                    <div class="share__whatsapp">
                        <img src="/" alt="Icono de Whatsapp"/>
                    </div>
                </a>
            </div>
            
        </fieldset>
    </div>
</section>