<section class="hero">
    <div class="hero__logo-container">
        <img class="hero__landing-logo" src="/logo-landing.webp" alt="landing-logo"></img>
        <div class="hero__landing-logo-name">
            <div>My</div>
            <div>Application</div>
            <div>Card</div>
        </div>
    </div>
    <div class="hero__text">
        <div>
            <div class="hero__options">
                <i class="fa-solid fa-pencil"></i>
                <div>Diseña</div>
            </div>
            <div class="hero__options">
                <i class="fa-solid fa-file-lines"></i>
                <div>Rellena</div>
            </div>
            <div class="hero__options">
                <i class="fa-solid fa-share"></i>
                <div>Comparte</div>
            </div>
        </div>
    </div>
    <div class="link-container">
        <a class="startLink" href="./forms.html">
            Comenzar
            <span class="hover-link">
                Comenzar
            </span>
        </a>
    </div>
</section>


