<div class="preview">
    <div class="preview__profile">
        <img class="preview__photo" src="/user.png" alt="profile-photo">
        <div class="preview__data">
            <div>nombre</div>
            <div>ciudad</div>
            <div>idiomas</div>
            <div>email</div>
        </div>
    </div>
    <div class="preview__aboutme">
        <div class="preview__aboutme">sobre mi</div>
    </div>
    <div class="preview__">
        <div>formacion</div>
        <div>softskills</div>
    </div>
    <div>situacion actual</div>
    <div>sitack tecnologico</div>
    <div>linkedin</div>
</div>