<div class="preview">
    <div class="preview__profile">
        <img class="preview__photo js__profile-preview" src="./user.png" alt="profile-photo">
        <div class="preview__personal-data">
            <div class="js_preview_profileName">nombre</div>
            <div class="js_preview_city">ciudad</div>
            <!-- <div class="js_preview_languages">idiomas</div> -->
            <div class="js_preview_email">email</div>
        </div>
    </div>
<!--     <div class="preview__cv-data">
        <div class="preview__cv-data preview__cv-data--full js_preview_aboutMe">Sobre mi</div>
    </div> -->
    <div class="preview__cv-data">
        <div class="preview__cv-data preview__cv-data--half js_preview_training">Formacion</div>
        <div class="preview__cv-data preview__cv-data--half js_preview_skills">Soft skills</div>
    </div>
    <div class="preview__cv-data">
        <div class="preview__cv-data preview__cv-data--full js_preview_motivation">Situacion actual y motivación al puesto</div>
    </div>
    <div class="preview__cv-data">
        <div class="preview__cv-data preview__cv-data--full js_preview_technologies">Stack tecnológico</div>
    </div>

    <div class="preview__cv-data">
        <i class="fa-brands fa-linkedin"></i>
        <div class="preview__cv-data preview__cv-data--full js_preview_linkedin">Enlace LinkedIn</div>
    </div>
</div>