<div class="preview">
    <div class="preview__profile">
        <img class="preview__photo" src="/user.png" alt="profile-photo">
        <div class="preview__personal-data">
            <div>nombre</div>
            <div>ciudad</div>
            <div>idiomas</div>
            <div>email</div>
        </div>
    </div>
    <div class="preview__cv-data">
        <div class="preview__cv-data__full">Sobre mi</div>
    </div>
    <div class="preview__cv-data">
        <div class="preview__cv-data__half">Formacion</div>
        <div class="preview__cv-data__half">Soft skills</div>
    </div>
    <div class="preview__cv-data">
        <div class="preview__cv-data__full">Situacion actual y motivación al puesto</div>
    </div>
    <div class="preview__cv-data">
        <div class="preview__cv-data__full">Stack tecnológico</div>
    </div>

    <div class="preview__cv-data">
        <i class="fa-brands fa-linkedin"></i>
        <div class="preview__cv-data__full">Enlace LinkedIn</div>
    </div>
</div>