<!-- <button class="share__whatsappBtn"><i class="fa-brands fa-whatsapp"></i> Compartir en WhatsApp</button> -->

<section class="nav-container">
    <div class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="#">
                    <span class="nav__icon">
                        <i class="fa-brands fa-whatsapp"></i>
                    </span>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">
                    <span class="nav__icon">
                        <i class="fa-brands fa-twitter"></i>
                    </span>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">
                    <span class="nav__icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">
                    <span class="nav__icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </span>
                </a>
            </li>
            <div class="nav__indicator"></div>
        </ul>
    </div>
</section>