@use "core/reset";
@use "core/variables" as vars;
@use "layouts/header";
@use "layouts/hero";
@use "layouts/forms";
@use "layouts/preview";
@use "layouts/card";
@use "layouts/footer";


/* html {

  background: linear-gradient(to right, vars.$main_blue, #010e29);
} */

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
   background: linear-gradient(to right, vars.$main_blue, #010e29);
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}


