@use "core/reset";
@use "core/variables" as vars;
@use "layouts/header";
@use "layouts/hero";
@use "layouts/forms";
@use "layouts/preview";
@use "layouts/card";
@use "layouts/footer";


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, vars.$main_blue, #010e29);
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
